nav ul li a{
    color: var(--neutral-07100, #141718);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 171.429% */
}

nav ul li {
    margin-right: 40px;
}

nav{
    margin: 0 260.5px;
}


nav ul li:last-of-type{
    max-width: 0;
}