.banner{
    background-image: url(../Banner/images/banner.png);
    background-size: cover;
    height: 820px;
    margin: 0 auto;
    max-width: 1440px;
   
}

.todoBanner{
    background: rgb(18,18,18);
    background: linear-gradient(90deg, rgba(18,18,18,1) 50%, rgba(1,1,1,1) 50%);
    margin-top: 60px;
}